/** Umeboshi */

a:link, a:visited{
  color: tan !important;
}

li.current a{
  color: black !important;
}

.umeboshi #wrap{
	margin:0;
}

.umeboshi #header{
  padding-top: 30px !important;
}

.nav-wrap1{
  height: 77px !important;
}

#nav > li > a{
  margin-top:25px !important;
}

.umeboshi.umeboshi-about-us .blox1{
      background-color: #2c2c2c;
	background-image:url(../images/web-banner2.png);
}

.page-title-x *{
	color: tan;
}


.hero-picovico{
  border-top: 1px solid #eee;
}


.hero-portfolio > .container{
  padding: 70px 20px;
}

.product .onhover{
  display: none
}

.product{
    display: block;
    position: relative;;
}

.product img{
    margin-top:20px;
    margin-bottom: 10px;
    display: table-cell;
    vertical-align: bottom;
    height: 35px;
}

.tm{
  vertical-align: super;
  font-size: smaller;
}

/*

.hero-portfolio .product, .product-caption{
  padding: 50px 0;
  text-align: center;
    min-height: 150px;
    width: 100%;
    display: block;
    overflow: hidden;
    margin-bottom: 0;
    padding-bottom: 0px;
}

.product-caption{
    padding-top:35px;
    text-align: left;
}

.product .onhover{
  display: none
}

.hero-picovico{
  border-top: 1px solid #eee;
}*/